---
import DomainGrid from '@components/Grids/DomainGrid';
import MessageGrid from '@components/Grids/MessageGrid';
import { getSpecificationsForService } from '@utils/collections/services';

import VerticalSideBarLayout from '@layouts/VerticalSideBarLayout.astro';
import { Page } from './_index.data';

export const prerender = Page.prerender;
export const getStaticPaths = Page.getStaticPaths;

// Get data
const props = await Page.getData(Astro);
let domain = props;

const pageTitle = `${props.type} | ${props.data.name}`.replace(/^\w/, (c) => c.toUpperCase());

const type = props.type;

// Get specifications for services
const specifications = type === 'services' ? getSpecificationsForService(props) : [];
---

<VerticalSideBarLayout title={pageTitle}>
  <main class="flex docs-layout h-full">
    <div class="flex docs-layout w-full pl-16">
      <div class="w-full lg:mr-2 pr-8 overflow-y-auto py-8">
        {type === 'domains' && <DomainGrid domain={domain} client:load />}
        {type === 'services' && <MessageGrid service={props} specifications={specifications} client:load />}
      </div>
    </div>
  </main>
</VerticalSideBarLayout>
