---
import DomainGridV2 from '@components/Grids/DomainGridV2';
import MessageGridV2 from '@components/Grids/MessageGridV2';

import VerticalSideBarLayout from '@layouts/VerticalSideBarLayout.astro';
import { Page } from './_index.data';

export const prerender = Page.prerender;
export const getStaticPaths = Page.getStaticPaths;

// Get data
const props = await Page.getData(Astro);
let domain = props;

const pageTitle = `${props.type} | ${props.data.name}`.replace(/^\w/, (c) => c.toUpperCase());

const type = props.type;
---

<VerticalSideBarLayout title={pageTitle}>
  <div class="bg-white min-h-screen">
    <div class="mx-auto h-full">
      <div class="px-6 py-6 h-full">
        {type === 'domains' && <DomainGridV2 domain={domain} client:load />}
        {type === 'services' && <MessageGridV2 service={props} client:load />}
        {
          type !== 'domains' && type !== 'services' && (
            <div class="text-gray-500">Architecture view for {type} coming soon...</div>
          )
        }
      </div>
    </div>
  </div>
</VerticalSideBarLayout>
