---
import Seo from '@components/Seo.astro';
import { buildUrl } from '@utils/url-builder';
import type { PageTypes } from '@types';
import { pageDataLoader } from '@utils/pages/pages';

export async function getStaticPaths() {
  const itemTypes: PageTypes[] = ['events', 'commands', 'services', 'domains'];

  const allItems = await Promise.all(itemTypes.map((type) => pageDataLoader[type]()));

  return allItems.flatMap((items, index) =>
    items.map((item) => ({
      params: {
        type: itemTypes[index],
        id: item.data.id,
      },
      props: {
        type: itemTypes[index],
        ...item,
      },
    }))
  );
}

const props = Astro.props;
const pageTitle = `${props.collection} | ${props.data.name}`.replace(/^\w/, (c) => c.toUpperCase());

const { pathname } = Astro.url;
const redirectUrl = buildUrl(pathname + '/' + props.data.latestVersion);
---

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content={`0; url=${redirectUrl}`} />
    <Seo title={`EventCatalog | ${pageTitle}`} ogTitle={pageTitle} />
  </head>
  <body>
    <p>You are being redirected to <a href={redirectUrl}>{redirectUrl}</a></p>
  </body>
</html>
