---
import type { CollectionEntry } from 'astro:content';
import PillListFlat from '@components/Lists/PillListFlat';
import ProtocolList from '@components/Lists/ProtocolList';
import OwnersList from '@components/Lists/OwnersList';
import VersionList from '@components/Lists/VersionList.astro';
import { buildUrl } from '@utils/url-builder';
import { ScrollText } from 'lucide-react';
import RepositoryList from '@components/Lists/RepositoryList.astro';
import { getOwner } from '@utils/collections/owners';
import { getProducersAndConsumersForChannel } from '@utils/collections/services';
import { isChangelogEnabled } from '@utils/feature';
interface Props {
  channel: CollectionEntry<'channels'>;
}

const { channel } = Astro.props;

const ownersRaw = channel.data?.owners || [];
const owners = await Promise.all<ReturnType<typeof getOwner>>(ownersRaw.map(getOwner));
const filteredOwners = owners.filter((o) => o !== undefined);
const { producers, consumers } = await getProducersAndConsumersForChannel(channel);

const channelParameters: Record<string, { enum?: string[]; description?: string }> = channel.data.parameters || {};
const parameters = Object.keys(channelParameters).map((key) => ({
  key,
  ...channelParameters[key],
}));

const attachments = channel.data.attachments || [];

const attachmentsList = attachments.map((a) => {
  const attachmentIsURL = typeof a === 'string';
  return {
    label: attachmentIsURL ? a : (a.title ?? a.url),
    href: attachmentIsURL ? a : a.url,
    icon: attachmentIsURL ? 'ExternalLinkIcon' : (a.icon ?? 'ExternalLinkIcon'),
    target: '_blank' as const,
    subgroup: attachmentIsURL ? undefined : (a.type ?? ''),
  };
});

const paramsList = parameters.map((param) => ({
  label: param.key,
  description: param?.description,
  collection: 'channels-parameter',
}));

const protocols = channel.data.protocols || [];
const protocolList = protocols.map((p) => ({
  label: p,
  collection: 'channels-protocol',
  // icon: p,
  icon: p,
}));

const ownersList = filteredOwners.map((o) => ({
  label: o.data.name,
  type: o.collection,
  badge: o.collection === 'users' ? o.data.role : 'Team',
  avatarUrl: o.collection === 'users' ? o.data.avatarUrl : '',
  href: buildUrl(`/docs/${o.collection}/${o.data.id}`),
}));

const messageList = (channel.data.messages ?? []).map((p) => ({
  label: p.name,
  badge: p.collection,
  color: p.collection === 'events' ? 'orange' : 'blue',
  collection: p.collection,
  tag: `v${p.version}`,
  href: buildUrl(`/docs/${p.collection}/${p.id}/${p.version}`),
}));

const producersList = producers.map((p) => ({
  label: p.data.name,
  badge: p.collection,
  color: 'pink',
  collection: p.collection,
  tag: `v${p.data.version}`,
  href: buildUrl(`/docs/${p.collection}/${p.data.id}/${p.data.version}`),
}));

const consumersList = consumers.map((c) => ({
  label: c.data.name,
  badge: c.collection,
  color: 'blue',
  collection: c.collection,
  tag: `v${c.data.version}`,
  href: buildUrl(`/docs/${c.collection}/${c.data.id}/${c.data.version}`),
}));

const shouldRenderSideBarSection = (section: string) => {
  if (!channel.data.detailsPanel) {
    return true;
  }
  // @ts-ignore
  return channel.data.detailsPanel[section]?.visible ?? true;
};
---

<aside class="sticky top-28 left-0 space-y-8 h-full overflow-y-auto py-4">
  <div class="">
    {
      producersList.length > 0 && shouldRenderSideBarSection('producers') && (
        <PillListFlat
          title={`Producers (${producersList.length})`}
          pills={producersList}
          emptyMessage={`This channel does not have any producers.`}
          color="pink"
          client:load
        />
      )
    }

    {
      consumersList.length > 0 && shouldRenderSideBarSection('consumers') && (
        <PillListFlat
          title={`Consumers (${consumersList.length})`}
          pills={consumersList}
          emptyMessage={`This channel does not have any consumers.`}
          color="blue"
          client:load
        />
      )
    }

    {
      messageList.length > 0 && shouldRenderSideBarSection('messages') && (
        <PillListFlat
          title={`Messages using channel (${messageList.length})`}
          pills={messageList}
          emptyMessage={`This channel does not have any messages.`}
          color="orange"
          client:load
        />
      )
    }

    {
      protocolList.length > 0 && shouldRenderSideBarSection('protocols') && (
        <ProtocolList color="pink" title={`Protocols (${protocolList.length})`} pills={protocolList} client:load />
      )
    }

    {
      channel.data.versions && shouldRenderSideBarSection('versions') && (
        <VersionList
          title={`Versions (${channel.data.versions?.length})`}
          versions={channel.data.versions}
          collectionItem={channel}
        />
      )
    }

    {
      channel.data.attachments && shouldRenderSideBarSection('attachments') && (
        <PillListFlat
          title={`Attachments (${attachmentsList.length})`}
          pills={attachmentsList}
          emptyMessage={`This channel does not have any attachments.`}
          color="pink"
          client:load
        />
      )
    }

    {
      ownersList.length > 0 && shouldRenderSideBarSection('owners') && (
        <OwnersList
          title={`Owners (${filteredOwners.length})`}
          owners={ownersList}
          emptyMessage={`This channel does not have any documented owners.`}
          client:load
        />
      )
    }

    {
      channel.data.repository && shouldRenderSideBarSection('repository') && (
        <RepositoryList repository={channel.data.repository?.url} language={channel.data.repository?.language} />
      )
    }

    {
      paramsList.length > 0 && shouldRenderSideBarSection('parameters') && (
        <PillListFlat color="pink" title={`Parameters (${paramsList.length})`} pills={paramsList} client:load />
      )
    }

    {
      isChangelogEnabled() && shouldRenderSideBarSection('changelog') && (
        <div class="space-y-2">
          <a
            href={buildUrl(`/docs/${channel.collection}/${channel.data.id}/${channel.data.latestVersion}/changelog`)}
            class="flex items-center space-x-2 justify-center text-center rounded-md w-full bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-100/60 hover:text-primary"
          >
            <ScrollText strokeWidth={2} size={16} />
            <span class="block">Read changelog</span>
          </a>
        </div>
      )
    }
  </div>
</aside>
