---
import OwnersList from '@components/Lists/OwnersList';
import VersionList from '@components/Lists/VersionList.astro';
import PillListFlat from '@components/Lists/PillListFlat';
import { buildUrl } from '@utils/url-builder';
import { getOwner } from '@utils/collections/owners';
import type { CollectionEntry } from 'astro:content';
import { ScrollText, Workflow, RssIcon } from 'lucide-react';
import config from '@config';
import { isChangelogEnabled, isVisualiserEnabled } from '@utils/feature';
import CustomSideBarSectionList from '@components/Lists/CustomSideBarSectionList.astro';
interface Props {
  flow: CollectionEntry<'flows'>;
}

const { flow } = Astro.props;

const ownersRaw = flow.data?.owners || [];
const owners = await Promise.all<ReturnType<typeof getOwner>>(ownersRaw.map(getOwner));
const filteredOwners = owners.filter((o) => o !== undefined);

const resourceGroups = flow.data?.resourceGroups || [];

const ownersList = filteredOwners.map((o) => ({
  label: o.data.name,
  type: o.collection,
  badge: o.collection === 'users' ? o.data.role : 'Team',
  avatarUrl: o.collection === 'users' ? o.data.avatarUrl : '',
  href: buildUrl(`/docs/${o.collection}/${o.data.id}`),
}));

const isRSSEnabled = config.rss?.enabled;

const attachments = flow.data.attachments || [];

const attachmentsList = attachments.map((a) => {
  const attachmentIsURL = typeof a === 'string';
  return {
    label: attachmentIsURL ? a : (a.title ?? a.url),
    href: attachmentIsURL ? a : a.url,
    icon: attachmentIsURL ? 'ExternalLinkIcon' : (a.icon ?? 'ExternalLinkIcon'),
    target: '_blank' as const,
    subgroup: attachmentIsURL ? undefined : (a.type ?? ''),
  };
});

const shouldRenderSideBarSection = (section: string) => {
  if (!flow.data.detailsPanel) {
    return true;
  }
  // @ts-ignore
  return flow.data.detailsPanel[section]?.visible ?? true;
};
---

<aside class="sticky top-28 left-0 h-full overflow-y-auto pr-6 py-4">
  <div id="sidebar-cta-portal" class="">
    {
      resourceGroups
        .filter((section) => section.items.length > 0 && section.sidebar)
        .map((section) => <CustomSideBarSectionList section={section} />)
    }
    {
      flow.data.versions && shouldRenderSideBarSection('versions') && (
        <VersionList versions={flow.data.versions} collectionItem={flow} />
      )
    }
    {
      flow.data.attachments && shouldRenderSideBarSection('attachments') && (
        <PillListFlat
          title={`Attachments (${attachmentsList.length})`}
          pills={attachmentsList}
          emptyMessage={`This flow does not have any attachments.`}
          color="pink"
          client:load
        />
      )
    }

    {
      shouldRenderSideBarSection('owners') && (
        <OwnersList
          title={`Owners (${ownersList.length})`}
          owners={ownersList}
          emptyMessage={`This flow does not have any documented owners.`}
          client:load
        />
      )
    }

    {
      isRSSEnabled && (
        <div class="mx-auto pb-4 w-full max-w-lg divide-y divide-white/5 rounded-xl bg-white/5 border-b border-gray-100 mb-4">
          <span class="text-sm text-black font-semibold group-data-[hover]:text-black/80 capitalize">Flow RSS Feed</span>
          <ul role="list" class="space-y-2 mt-2">
            <li class="has-tooltip rounded-md text-gray-600 group px-1 w-full hover:bg-gradient-to-l hover:from-purple-500 hover:to-purple-700 hover:text-white hover:font-normal  ">
              <a class={`flex items-center space-x-2`} target="_blank" href={buildUrl(`/rss/flows/rss.xml`)}>
                <RssIcon className="h-4 w-4 text-gray-800 group-hover:text-white" strokeWidth={1} />
                <span class="font-light text-sm truncate">RSS</span>
              </a>
            </li>
          </ul>
        </div>
      )
    }

    <div class="space-y-2">
      {
        isVisualiserEnabled() && (
          <a
            href={buildUrl(`/visualiser/${flow.collection}/${flow.data.id}/${flow.data.version}`)}
            class="flex items-center justify-center space-x-2 text-center rounded-md w-full bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-100/60 hover:text-primary"
          >
            <Workflow strokeWidth={2} size={16} />
            <span class="block">View in visualiser</span>
          </a>
        )
      }
      {
        isChangelogEnabled() && shouldRenderSideBarSection('changelog') && (
          <a
            href={buildUrl(`/docs/${flow.collection}/${flow.data.id}/${flow.data.latestVersion}/changelog`)}
            class="flex items-center space-x-2 justify-center text-center rounded-md w-full bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-100/60 hover:text-primary"
          >
            <ScrollText strokeWidth={2} size={16} />
            <span class="block">Read changelog</span>
          </a>
        )
      }
    </div>
  </div>
</aside>
