---
interface Props {
  title: string;
  sidebar?: boolean;
  description?: string;
}

import { BookOpenText, Workflow, TableProperties, House, BookUser, MessageSquare, BotMessageSquare } from 'lucide-react';
import Header from '../components/Header.astro';
import SEO from '../components/Seo.astro';
import SideNav from '../components/SideNav/SideNav.astro';

import { getCommands } from '@utils/commands';
import { getDomains } from '@utils/collections/domains';
import { getEvents } from '@utils/events';
import { getServices } from '@utils/collections/services';
import { getFlows } from '@utils/collections/flows';
import { isCollectionVisibleInCatalog } from '@eventcatalog';
import { buildUrl } from '@utils/url-builder';
import { getQueries } from '@utils/queries';
import { hasLandingPageForDocs } from '@utils/pages';

const events = await getEvents({ getAllVersions: false });
const commands = await getCommands({ getAllVersions: false });
const queries = await getQueries({ getAllVersions: false });
const services = await getServices({ getAllVersions: false });
const domains = await getDomains({ getAllVersions: false });
const flows = await getFlows({ getAllVersions: false });

const currentPath = Astro.url.pathname;

const catalogHasDefaultLandingPageForDocs = await hasLandingPageForDocs();

const getDefaultUrl = (route: string, defaultValue: string) => {
  const collections = [
    { data: domains, key: 'domains' },
    { data: services, key: 'services' },
    { data: events, key: 'events' },
    { data: commands, key: 'commands' },
    { data: queries, key: 'queries' },
    { data: flows, key: 'flows' },
  ];

  for (const { data, key } of collections) {
    if (data.length > 0 && isCollectionVisibleInCatalog(key)) {
      const item = data[0];
      return buildUrl(`/${route}/${key}/${item.data.id}/${item.data.latestVersion}`);
    }
  }

  return buildUrl(defaultValue);
};

const navigationItems = [
  {
    id: '/',
    label: 'Home',
    icon: House,
    href: buildUrl('/'),
    current: currentPath === '/',
    sidebar: false,
  },
  {
    id: '/docs',
    label: 'Documentation',
    icon: BookOpenText,
    href: catalogHasDefaultLandingPageForDocs ? buildUrl('/docs') : getDefaultUrl('docs', '/docs'),
    current: currentPath.includes('/docs'),
    sidebar: true,
  },
  {
    id: '/visualiser',
    label: 'Visualiser',
    icon: Workflow,
    href: getDefaultUrl('visualiser', '/visualiser'),
    current: currentPath.includes('/visualiser'),
    sidebar: true,
  },
  {
    id: '/discover',
    label: 'Explore',
    icon: TableProperties,
    href: buildUrl('/discover/events'),
    current: currentPath.includes('/discover/'),
    sidebar: false,
  },
  {
    id: '/directory',
    label: 'Directory',
    icon: BookUser,
    href: buildUrl('/directory/users'),
    current: currentPath.includes('/directory'),
    sidebar: false,
  },
  {
    id: '/chat',
    label: 'AI Assistant',
    icon: BotMessageSquare,
    href: buildUrl('/chat'),
    current: currentPath.includes('/chat'),
  },
];

const currentNavigationItem = navigationItems.find((item) => item.current);
const { title, description } = Astro.props;

const showSideBarOnLoad = currentNavigationItem?.sidebar;

const canPageBeEmbedded = process.env.ENABLE_EMBED === 'true';
---

<!doctype html>
<html lang="en">
  <head>
    <SEO title={`EventCatalog | ${title}`} description={description} ogTitle={title} />
    <style>
      .sidebar-transition {
        transition-property: width, transform;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
      .tooltip {
        visibility: hidden;
        position: absolute;
      }
      .has-tooltip:hover .tooltip {
        visibility: visible;
        z-index: 100;
      }
    </style>
  </head>
  <body>
    <Header />
    <div class="flex">
      <aside class="flex" id="eventcatalog-vertical-nav">
        <div
          class="fixed flex flex-col items-center w-16 h-screen py-4 bg-white bg-gradient-to-b from-white to-gray-100 border-r border-gray-200 z-20 shadow-md justify-between"
        >
          <nav class="flex flex-col h-[84vh] justify-between">
            <div class="flex flex-col items-center flex-1 space-y-8">
              {
                navigationItems.map((item) => {
                  return (
                    <a
                      id={item.id}
                      data-role="nav-item"
                      href={item.href}
                      class={`p-1.5 inline-block transition-colors duration-200 rounded-lg ${item.current ? 'text-white bg-gradient-to-b from-purple-500 to-purple-700' : 'hover:bg-gradient-to-r hover:from-purple-500 hover:to-purple-700 hover:text-white text-gray-700'}`}
                    >
                      <div class="has-tooltip">
                        <span class="tooltip rounded shadow-lg p-1 text-xs bg-gradient-to-l from-purple-500 to-purple-700 text-white ml-10">
                          {item.label}
                        </span>
                        <item.icon className="h-6 w-6  " />
                      </div>
                    </a>
                  );
                })
              }
            </div>
          </nav>
        </div>

        <SideNav
          id="sidebar"
          class={`sidebar-transition h-content  overflow-y-auto bg-white  border-r border-gray-100 w-60 ml-16 ${showSideBarOnLoad ? 'block' : 'hidden'}`}
        />
      </aside>
      <main
        class={`sidebar-transition w-full max-h-content overflow-y-auto ${showSideBarOnLoad ? 'ml-0' : 'ml-16'}`}
        id="content"
      >
        <slot />
      </main>

      <!-- Creae a overlay that tells people to purchase backstage plugin if they want to embed the page -->
      <div class="absolute inset-0 bg-black items-center justify-center z-50 hidden" id="embed-overlay">
        <div class="text-white text-center space-y-4">
          <div>
            <h1 class="text-2xl font-bold">EventCatalog Backstage Integration</h1>
            <p class="text-md text-red-500">Missing license key for backstage integration.</p>
          </div>
          <div>
            <p class="text-sm text-gray-500">Please configure the backstage plugin to embed this page into Backstage.</p>
            <a href="https://www.eventcatalog.dev/integrations/backstage" class="text-blue-500 text-xs"
              >Configure backstage plugin &rarr;</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script define:vars={{ navigationItems, currentNavigationItem, showSideBarOnLoad, canPageBeEmbedded }}>
  // Listen for Astro transititions
  document.addEventListener('astro:page-load', () => {
    document.dispatchEvent(new CustomEvent('contentLoaded'));
  });

  // Listen for DOM loaded
  document.addEventListener('DOMContentLoaded', () => {
    document.dispatchEvent(new CustomEvent('contentLoaded'));
  });

  document.addEventListener('contentLoaded', () => {
    // Users can add ?embed=true to the URL to hide the navigation
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    const embeded = params.embed === 'true' ? true : false;
    const content = document.getElementById('content');

    if (embeded && !canPageBeEmbedded) {
      const overlay = document.getElementById('embed-overlay');
      overlay.style.display = 'flex';
      return;
    }

    if (embeded) {
      const elementsToHide = [
        'eventcatalog-vertical-nav',
        'eventcatalog-header',
        'eventcatalog-header-spacer',
        'visualiser-footer',
        // /discover page elements
        'discover-collection-tabs',
        'discover-title',
      ];

      elementsToHide.forEach((id) => {
        const element = document.getElementById(id);
        if (element) element.style.display = 'none';
      });

      content.classList.remove('ml-16');
      return;
    }

    const sidebar = document.getElementById('sidebar');
    const currentPath = window.location.href;

    // Hide the sidebar if the current navigation item is not a sidebar item
    if (!currentNavigationItem.sidebar || currentPath.includes('asyncapi') || currentPath.includes('/spec')) {
      sidebar.style.display = 'none';
      content.style.width = '100%';
      content.classList.add('ml-16');
    } else {
      sidebar.style.display = 'block';
    }

    const navItems = document.querySelectorAll('[data-role="nav-item"]');
    let isOpen = showSideBarOnLoad;

    navItems.forEach((item) => {
      item.addEventListener('click', (e) => {
        const currentPath = window.location.href;
        const id = item.getAttribute('id');

        const navItem = navigationItems.find((navItem) => navItem.id === id);

        if (!navItem.sidebar || !currentPath.includes(navItem.id)) {
          window.location.href = navItem.href;
          return;
        }

        // not on the target page then just go to it.
        if (!currentPath.includes(navItem.id)) return;

        if (currentPath.includes(navItem.id)) {
          e.preventDefault();
          if (isOpen) {
            hideSidebar();
          } else {
            showSidebar();
          }
        }
      });
    });

    function showSidebar() {
      if (!sidebar || !content) return;
      isOpen = true;
      localStorage.setItem('sidebarState', 'open');
      sidebar.style.display = 'block';
      setTimeout(() => {
        sidebar.style.transform = 'translateX(0)';
        content.style.transform = 'translateX(0)';
        content.classList.remove('ml-16');
        content.style.width = 'calc(100% - 240px)';
      }, 10);
    }

    function hideSidebar() {
      if (!sidebar || !content) return;
      isOpen = false;
      sidebar.style.transform = 'translateX(-100%)';
      content.style.transform = 'translateX(0px)';
      content.style.width = '100%';
      content.classList.add('ml-16');
    }

    if (sidebar) {
      sidebar.addEventListener('transitionend', () => {
        if (!isOpen && sidebar && content) {
          sidebar.style.display = 'none';
          content.style.transform = 'translateX(0px)';
        }
      });
    }
  });
</script>
