---
import { getCommands } from '@utils/commands';
import { getDomains } from '@utils/domains/domains';
import { getEvents } from '@utils/events';
import { getServices } from '@utils/services/services';
import { getTeams } from '@utils/teams';
import { getUsers } from '@utils/users';
import config, { type CatalogConfig } from '@eventcatalog';
import { buildUrl } from '@utils/url-builder';

const events = await getEvents({ getAllVersions: false });
const commands = await getCommands({ getAllVersions: false });
const services = await getServices({ getAllVersions: false });
const domains = await getDomains({ getAllVersions: false });
const teams = await getTeams();
const users = await getUsers();

const messages = [...events, ...commands];

// @ts-ignore for large catalogs https://github.com/event-catalog/eventcatalog/issues/552
const allData = [...domains, ...services, ...messages, ...teams, ...users];

const eventCatalogConfig = config as CatalogConfig;
const {
  services: servicesConfig,
  domains: domainsConfig,
  messages: messagesConfig,
  teams: teamsConfig,
  users: usersConfig,
  showPageHeadings = true,
} = eventCatalogConfig?.docs?.sidebar || {};

const getConfigValue = (obj: any, key: string, defaultValue: any) => {
  return obj?.[key] ?? defaultValue;
};

const visibleCollections: { [key: string]: boolean } = {
  events: getConfigValue(messagesConfig, 'visible', true),
  commands: getConfigValue(messagesConfig, 'visible', true),
  domains: getConfigValue(domainsConfig, 'visible', true),
  services: getConfigValue(servicesConfig, 'visible', true),
  teams: getConfigValue(teamsConfig, 'visible', true),
  users: getConfigValue(usersConfig, 'visible', true),
};

const fetchHeadings = allData.map(async (item) => {
  const renderHeadings = showPageHeadings;
  const headings = renderHeadings ? await item.render() : { headings: [] };
  return {
    ...item,
    headings: headings.headings,
  };
});

const withHeadings = await Promise.all(fetchHeadings);

const sideNav = withHeadings.reduce((acc, item) => {
  const title = item.collection === 'events' || item.collection === 'commands' ? 'Messages' : item.collection;

  const group = acc[title] || [];

  const navigationItem = {
    label: item.data.name,
    version: item.collection === 'teams' || item.collection === 'users' ? null : item.data.version,
    items: item.collection === 'users' ? [] : item.headings,
    visible: visibleCollections[item.collection],
    // @ts-ignore
    href: item.data.version
      ? // @ts-ignore
        buildUrl(`/docs/${item.collection}/${item.data.id}/${item.data.version}`)
      : buildUrl(`/docs/${item.collection}/${item.data.id}`),
  };

  group.push(navigationItem);

  return {
    ...acc,
    [title]: group,
  };
}, {} as any);

const currentPath = Astro.url.pathname;
---

<div class="font-light w-full xl:pr-10 pb-20">
  {
    Object.keys(sideNav).map((key) => {
      const collection = sideNav[key];
      if (collection[0] && collection[0].visible === false) return null;
      return (
        <ul class=" w-full space-y-2 pb-8">
          <li class="font-semibold capitalize ">{key}</li>
          {collection.map((item: any) => {
            return (
              <li class="px-2 w-full text-md xl:text-lg border-l border-gray-200 space-y-2 scroll-m-20" id={item.href}>
                <a
                  class={`flex justify-between items-center w-full px-2 rounded-md font-normal ${currentPath.includes(item.href) ? 'bg-purple-200 text-purple-800 ' : 'font-thin'}`}
                  href={`${item.href}`}
                >
                  <span class="block">{item.label}</span>
                  {item.version && (
                    <span class="block text-sm bg-purple-100 p-0.5 px-1 text-gray-600  rounded-md font-light">
                      v{item.version}
                    </span>
                  )}
                </a>
                <ul class="hidden xl:block px-4  text-gray-500 text-md space-y-2  ">
                  {item.items.map((heading: any) => {
                    return (
                      <li class="text-xs">
                        <a href={`${item.href}#${heading.slug}`}>{heading.text}</a>
                      </li>
                    );
                  })}
                </ul>
              </li>
            );
          })}
        </ul>
      );
    })
  }
</div>

<script>
  // Scroll to the current page element
  document.addEventListener('DOMContentLoaded', () => {
    const currentPath = document.location.pathname;
    const currentElement = document.getElementById(currentPath);
    if (currentElement) {
      // scroll to the current element with padding
      currentElement.scrollIntoView({
        behavior: 'auto',
        block: 'start',
        inline: 'start',
      });
    }
  });
</script>
