---
import catalog from '@eventcatalog';
import Search from '@components/Search.astro';
import { buildUrl } from '@utils/url-builder';

const currentPath = Astro.url.pathname;

const navItems = [
  {
    label: 'Docs',
    href: buildUrl('/docs'),
  },
  {
    label: 'Visualiser',
    href: buildUrl('/visualiser'),
  },
  {
    label: 'Discover',
    href: buildUrl('/discover/events'),
  },
];

const logo = {
  src: ('/' + (catalog?.logo?.src || 'logo.png')).replace(/^\/+/, '/'),
  alt: catalog?.logo?.alt || 'Event Catalog',
  text: catalog?.logo?.text || 'EventCatalog',
};
---

<nav
  id="eventcatalog-header"
  class="fixed top-0 left-0 right-0 bg-white border-b border-gray-200 py-3 font-bold text-xl bg-opacity-20 backdrop-blur-sm"
>
  <div class="max-w-[120em] mx-auto px-4 sm:px-6 lg:px-6 xxl:max-w-[96em]">
    <div class="flex justify-between items-center">
      <div class="flex-shrink-0 flex items-center w-1/3">
        <a href={buildUrl(catalog.landingPage || '/')} class="flex space-x-2 items-center">
          {logo.src && <img alt={logo.alt} src={buildUrl(logo.src, true)} class="w-8 h-8" />}
          {logo.text && <span class="hidden sm:inline-block text-[1em]">{logo.text}</span>}
        </a>
      </div>

      <div class="hidden lg:block flex-grow w-1/3">
        <Search />
      </div>

      <div class="hidden md:block w-1/3">
        <ul class="flex space-x-8 justify-end">
          {
            navItems.map((item) => {
              const isActive = currentPath.includes(item.href);
              return (
                <li class={`font-light hover:text-primary text-[0.8em] ${isActive ? 'border-b-2 border-primary' : ''}`}>
                  <a href={item.href}>{item.label}</a>
                </li>
              );
            })
          }
        </ul>
      </div>

      <div class="md:hidden">
        <button
          id="menu-toggle"
          type="button"
          class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600"
          aria-label="Toggle menu"
        >
          <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
            <path
              fill-rule="evenodd"
              d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <div id="mobile-menu" class="md:hidden hidden mt-4">
      <ul class="flex flex-col space-y-8 my-4 mb-8">
        {
          navItems.map((item) => {
            const isActive = currentPath.includes(item.href);
            return (
              <li class={`font-light ${isActive ? 'font-bold text-primary' : ''}`}>
                <a href={item.href}>{item.label}</a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</nav>

<div id="eventcatalog-header-spacer" class="h-16"></div>
<!-- Spacer to prevent content from being hidden under the fixed header -->

<script>
  const menuToggle = document.getElementById('menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');

  if (menuToggle && mobileMenu) {
    menuToggle.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });
  }
</script>

<style>
  @media (max-width: 768px) {
    nav {
      transition: all 0.3s ease-out;
    }

    #mobile-menu {
      transition: all 0.3s ease-out;
      max-height: 0;
      overflow: hidden;
    }

    #mobile-menu:not(.hidden) {
      max-height: 500px; /* Adjust this value as needed */
    }
  }
</style>
