---
import { buildUrl } from '@utils/url-builder';
import { resourceToCollectionMap } from '@utils/collections/util';

const { id, version, type } = Astro.props;
const collection = resourceToCollectionMap[type as keyof typeof resourceToCollectionMap];
---

{
  version && (
    <a href={buildUrl(`/docs/${collection}/${id}/${version}`)} class="text-purple-500 hover:text-purple-700">
      <slot />
    </a>
  )
}

{
  !version && (
    <a href={buildUrl(`/docs/${collection}/${id}`)} class="text-purple-500 hover:text-purple-700">
      <slot />
    </a>
  )
}
